<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="Demo Suite1" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="com.epam.cdp.testng.listeners.TestListeners"/>
    </listeners>
    <test name="Trigonometrical">
        <groups>
            <run>

                <include name="trigonometric"/>

            </run>
        </groups>

        <classes>
            <class name="com.epam.cdp.testng.tests.BaseTest"/>
            <class name="com.epam.cdp.testng.tests.CosCalTest"/>
            <class name="com.epam.cdp.testng.tests.CtgCalTest"/>
            <class name="com.epam.cdp.testng.tests.DivDoubleCalTest"/>
            <class name="com.epam.cdp.testng.tests.DivLongCalTest"/>
            <class name="com.epam.cdp.testng.tests.IsNegCalTest"/>
            <class name="com.epam.cdp.testng.tests.IsPosCalTest"/>
            <class name="com.epam.cdp.testng.tests.MultDoubCalTest"/>
            <class name="com.epam.cdp.testng.tests.MultLongCalTest"/>
            <class name="com.epam.cdp.testng.tests.PowCalTest"/>
            <class name="com.epam.cdp.testng.tests.SinCalTest"/>
            <class name="com.epam.cdp.testng.tests.SqrtCalTest"/>
            <class name="com.epam.cdp.testng.tests.SubCalTest"/>
            <class name="com.epam.cdp.testng.tests.SubDoubleCalTest"/>
            <class name="com.epam.cdp.testng.tests.SumCalTest"/>
            <class name="com.epam.cdp.testng.tests.SubDoubleCalTest"/>
            <class name="com.epam.cdp.testng.tests.TgCalTest"/>
        </classes>

    </test>

</suite>